.step-content
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.custom-field
{
    width: 90% !important;
    margin: 10px 0 !important;
}

.mapped-row
{
    width: 100% !important;
}

.salary-field
{
    margin-bottom: 30px !important;
}