.navbar
{
    background-color: #1A2238 !important;
}

.fa-user
{
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    color: #FECD45;
}

.bottom-bar
{
    width: 100% !important;
    height: 400px !important;
}