.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed
{
    color: orange !important;
}

.central-step
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.steps-btns
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
